{% for interface in dns_proxy_interfaces %}
set system services dns dns-proxy interface {{ interface }}
{% endfor %}

set system services dns dns-proxy default-domain * forwarders 8.8.8.8

{% for cache_entry in dns_proxy_cache_entries %}
set system services dns dns-proxy cache {{ cache_entry['host'] }} inet {{ cache_entry['ip'] }}
{% endfor %}
